.App {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  color: white;
  background: black;
  background-size: 150px;
}

header .logo {
  position: absolute;
  top: 2px;
  left: 15px;
}

body {
  font-size: 12pt;
  color: black;
  margin: 0;
}

h1 {
  font-size: 36px;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

/*-------------------------Landing page office mode selection page style-------------------------*/
.buttonGrid2items {
  position: relative;
  margin: auto;
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10%;
}

.gridItems {
  background-color: #b5cf49;
  border: 5px solid #5c5c5c;
  position: relative;
  border-radius: 12px;
  font-size: 36px;
  padding: 150px 10px;
  box-sizing: border-box;
  width: 100%;
}

/*-------------------------Langauge selection page style-------------------------*/
.languageBtnsGrid {
  position: relative;
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 2%;
}

.languageBtn-disabled {
  background-color: darkgrey;
  border: 5px solid #5c5c5c;
  position: relative;
  border-radius: 12px;
  font-size: 36px;
  padding: 150px 10px;
  box-sizing: border-box;
  cursor: not-allowed;
  width: 100%;
}

.languageBtn-disabled:hover {
  background-color: darkgrey;
  cursor: not-allowed;
}

.languageBtn-active {
  color: black;
}

.languageBtn-active:hover {
  cursor: pointer;
  background-color: #d1e08f;
}

.chineseSymbols {
  font-size: 30px;
}

/*-------------------------COVID-19 screening question page styles-------------------------*/
.covidQuestion-eng {
  font-size: 36px;
  padding-top: 20px;
  text-align: center;
}

.covidQuestion-nonEng {
  font-size: 36px;
  padding-top: 100px;
  text-align: center;
}

.yesNoBtnsContainer {
  position: relative;
  margin: auto;
  margin-top: 40px;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15%;
  /*border: 3px solid grey;*/
}

.yesNoBtnsContainer button {
  border: 5px solid #5c5c5c;
  width: 100%;
  border-radius: 12px;
  font-size: 40px;
  line-height: 70px;
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

.yesBtn {
  background-color: #b5cf49;
}

.yesBtn:hover {
  cursor: pointer;
  background-color: #d1e08f;
}

.noBtn {
  background-color: #e2a58d;
}

.noBtn:hover {
  cursor: pointer;
  background-color: #e0b58f;
}

.okBtnContainer {
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  margin-top: 40px;
  width: 20%;
}

.okBtn {
  background-color: #b5cf49;
  position: relative;
  border: 5px solid #5c5c5c;
  width: 100%;
  border-radius: 12px;
  font-size: 40px;
  line-height: 70px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.okBtn:hover {
  cursor: pointer;
  background-color: #d1e08f;
}

.loading {
  position: fixed;
  top: 50%;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
}

/*-------------------------Translation page styles-------------------------*/
.translateTextBoxesContainer {
  /* border: 3px solid green; */
  margin: auto;
  width: 80%;
}

.translateTextBoxesContainer:after {
  content: "";
  display: table;
  clear: both;
}

.translateTextBoxLeft {
  width: 45%;
  float: left;
  border-radius: 12px;
  border: 3px solid #5c5c5c;
  padding: 10px;
  box-sizing: border-box;
}

.translateTextBoxLeft textarea {
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

.translateTextBoxRight {
  width: 45%;
  background-color: #efefef;
  float: right;
  border-radius: 12px;
  border: 3px solid #5c5c5c;
  padding: 10px;
  box-sizing: border-box;
}

.translateTextBoxRight textarea {
  width: 100%;
  border: none;
  resize: none;
  background-color: #efefef;
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
}

.iconGridLayout {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

.hideIcon {
  visibility: hidden;
}

.translateBtnContainer {
  position: relative;
  /* border: 3px solid blueviolet; */
  margin: auto;
  width: 80%;
  text-align: center;
}

.btnSpacing {
  margin: 20px;
}

.translateBtn {
  background-color: #b5cf49;
  border: 3px solid #5c5c5c;
  font-size: 20px;
  border-radius: 25px;
  padding: 10px;
  display: inline-block;
}

.translateBtn:hover {
  cursor: pointer;
  background-color: #d1e08f;
}

.translateBtn:disabled {
  background-color: darkgrey;
  cursor: not-allowed;
  color: black;
}

.commonPhrasesContainer {
  border-radius: 12px;
  border: 3px solid #5c5c5c;
  padding: 10px;
  margin: auto;
  width: 80%;
  box-sizing: border-box;
}

.commonPhrases {
  column-count: 3;
  line-height: 30px;
  box-sizing: border-box;
  margin: auto;
}

.centerButtons {
  position: relative;
  padding-top: 8px;
  text-align: center;
}

.imageBtn {
  cursor: pointer;
}

.imageBtn-inactive {
  cursor: not-allowed;
}
